.table-container {
    margin: 5rem 2rem;
    overflow-x: auto;
}

table {
    margin: 0 auto;
    width: 787px;
}

td, th {
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
}

thead {
    font-weight: 600;
}

tbody tr:nth-child(odd) {
    background-color: #caebff;
}

td:last-child {
    padding-right: 1rem;
}

td:first-child {
    padding-left: 1rem;
}